**Analysis of Air Quality Index of Countries around the world**


AQI is a recognized index which is helped to measure and understand the quality of the air in a given environment. I have heavily used python along with its pandas library for analysis.The data only consist aqi records from 3 years: 2022, 2023, and 2024. This analysis focuses on finding out how many countries have improved their aqi level status, how many have maintained their aqi levels, and how many have deteriorated their aqi levels. Result will also contain the countries which improved their aqi levels the most and the ones which detereorated the aqi levels the most.

In [1]:
#import some libraries for data analysis
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from PIL import Image

In [3]:
# prompt: mount google drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
image = Image.open('/content/air-pollution-in-urban-area.jpg')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
plt.imshow(image)
plt.axis('off')  # Hide axes
plt.show()

In [ ]:
#For data Loading
data = pd.read_csv('/content/data_date.csv')

In [ ]:

data.head(10)

In [ ]:
data.tail()

In [ ]:
print(f"Total number of rows in data = {len(data)}")

In [ ]:
data.duplicated().sum()

In [ ]:
# There are 300 duplicates in this dataset. We will have to remove those duplicates for correct and accurate analysis
data.drop_duplicates(inplace=True)
data.duplicated().sum()

In [ ]:
missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

In [ ]:
#Know we see how many different countries we have in our dataset.
data["Date"] = pd.to_datetime(data["Date"])

data["Year"] = data["Date"].dt.year
data["Month"] = data["Date"].dt.month
data["Day"] = data["Date"].dt.day

data.head()

In [ ]:
data.info()

In [ ]:
len(data["Country"].unique())

In [ ]:
#We know that we have 142 out of 195 countries in the world in our dataset. Now, let us see what different values does the Status column have.

In [ ]:
#Explore unique status types in Air quality
print("\nUnique AQI Status types:\n", data['Status'].unique())

In [ ]:
#For distribution of AQI values
aqi_per_status = pd.DataFrame(data.groupby("Status").agg(
min_AQI=('AQI Value', "min"),
max_AQI=('AQI Value', "max")))

aqi_per_status.sort_values(by="min_AQI", ascending=True)

In [ ]:
pivot_table = pd.DataFrame(pd.pivot_table(
data,
index = "Country",
columns = "Year",
values = "AQI Value",
aggfunc = "mean"))

pivot_table

In [ ]:
# Step 3: Convert Date column to datetime format for time-based analysis
data['Date'] = pd.to_datetime(data['Date'])

In [ ]:
# Visualize the trend of AQI values over time
plt.figure(figsize=(12, 6))
daily_aqi = data.groupby('Date')['AQI Value'].mean()
plt.plot(daily_aqi, color='blue')
plt.title("Daily Average AQI Trend")
plt.xlabel("Date")
plt.ylabel("Average AQI Value")
plt.grid()
plt.show()

In [ ]:
#Analyzing data specific to Pakistani cities,

In [ ]:
pakistan_data = data[data['Country'] == 'Pakistan']

In [ ]:
pakistan_data.head()

In [ ]:
print(data.columns)

In [ ]:
# Step 3: Check for unique values in Location or Status columns (if present)
# Agar Location ya Status column hain, toh un mein unique values check karte hain
if 'Location' in pakistan_data.columns:
    print("\nUnique Locations in Pakistan:\n", pakistan_data['Location'].unique())
elif 'Status' in pakistan_data.columns:
    print("\nUnique Status types in Pakistan:\n", pakistan_data['Status'].unique())
else:
    print("No Location or Status column found.")

In [ ]:
#I find Lahore City in this Data set
lahore_data = data.apply(lambda row: row.astype(str).str.contains('Lahore', case=False, na=False).any(), axis=1)

In [ ]:
lahore_rows = data[lahore_data]

In [ ]:
if not lahore_rows.empty:
    print("Lahore is present in the dataset. Here are the rows:\n", lahore_rows)
else:
    print("Lahore is not present in the dataset.")

In [ ]:
city_column = None
for column in ['City', 'Location', 'Region', 'Area']:
    if column in pakistan_data.columns:
        city_column = column
        unique_cities = pakistan_data[column].unique()
        break

# Display unique cities in the selected column, if found
if city_column:
    print(f"Unique cities in Pakistan from the '{city_column}' column:\n", unique_cities)
else:
    print("No columns found with city information.")

Actully I want find Pakistani Air Polution But In This data set there is no specific Record about Pakistan ,